# ===========================================
# Node / Next.js
# ===========================================
node_modules/
.next/
out/
dist/
build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
secrets/

# dotenv environment variables
.env
.env.local
.env.*.local

# Supabase
supabase/.temp/
supabase/.branches/


*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OS files
.DS_Store
Thumbs.db

# Typescript build cache
*.tsbuildinfo

# Next.js cache
.next/cache/
.cache/

# Storybook
storybook-static/

# ShadCN components build artifacts
components.json

# Misc
*.bak
